.loginPage{
    font-size: 14px;
    flex-direction: column;
    .logo-box{
        width: 100px;
        height: 100px;
        margin-bottom: 16px;
    }
    .row{
        font-size: 15px;
        color: #666;
    }
    .oemName{
        font-weight: bold;
        color: #333;
        margin-right: 10px;
    }
    .power{
        width: 325px;
        margin-top: 40px;
        margin-bottom: 15px;
        flex-direction: column;
        .g6{
            font-size: 14px;
            color: #333;
        }
        .desc{
            font-size: 12px;
            color: #666;
            margin-top: 7px;
        }
    }
    .btn{
        width: 325px;
        height: 40px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: bold;
        background-image: linear-gradient(#fd6a29 8%, #fd6a29 100%);
        margin-bottom: 17px;
    }
    .auth{
        color: #fff;
    }
    .nut-checkbox__label{
        margin-left: 5px!important;
    }
    .bluetext{
        color: #0F4184;
    }
}