.swiper-img{
  width: 100%;
  height: 211px;
}

.main{
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  .hot-box{
    width: 100%;
    min-height: 200px;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    .hot-h-img{
      width: 100%;
      height: 50px;
    }
    .hot-box-main{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      .hot-bm-header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 10px;
        font-size: 13px;
        font-family: Microsoft YaHei, Microsoft YaHei-Regular;
        font-weight: 400;
        color: #666666;
        .title-img{
          width: 85.5px;
          height: 21px;
        }
      }
      .goods-list{
        width: 100%;
        // display: flex;
        box-sizing: border-box;
        padding: 8px 10px;
        .scroll-view_H{
          display: flex;
          width: 100%;
          height: 140px;
          overflow:hidden;
        }
      }
    }
  }

  .tabBox{
    width: 100%;
    display: flex;
    padding: 5px 10px;
    .tabItem{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      font-size: 15px;
      color: #333333;
    }
    .action-tab{
      font-size: 17px;
      font-weight: 700;
      color: #fb5528;
    }
  }
  .goodsList{
    width: 100%;
    // display: flex;
    box-sizing: border-box;
    // padding: 8px 10px;
    .goodsItem{
      width: 100%;
      min-height: 125px;
      background: #ffffff;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 10px;
      display: flex;
      .goodsImg{
        width: 97.5px;
        height: 97.5px;
        border-radius: 8px;
        margin-right: 6px;
        flex-shrink: 0;
      }
      .g-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title{
            font-size: 15px;
            font-weight: 400;
            color: #212121;
            line-height: 20px;
            letter-spacing: 0.9px;
        }
        .g-info{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .price{
            display: flex;
            font-size: 12px;
            font-family: Microsoft YaHei, Microsoft YaHei-Bold;
            font-weight: 700;
            color: #FE582A;
          }
          .old-price{
            font-size: 11px;
            font-family: Microsoft YaHei, Microsoft YaHei-Regular;
            font-weight: 400;
            color: #666666;
            text-decoration: line-through;
          }
          .btn{
            width: 69.5px;
            height: 27px;
            background: linear-gradient(to right,#ff962f 0%, #fd6a29 100%);
            border-radius: 13.5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: #ffffff;
            font-weight: bold;
          }
          .discount{
            display: flex;
            width: 37.5px;
            height: 15px;
            border: 0.5px solid #fe582a;
            border-radius: 2.5px;
            align-items: center;
            justify-content: center;
            margin-left: 4px;
          }
        }
      }
      
    }
  }
}