.payment{
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    .block{
        width: 355px;
        min-height: 202px;
        background: #ffffff;
        border-radius: 10px;
        margin: 10px auto;
    }
    .h3{
        font-size: 15px;
        font-weight: bold;
    }
    .orderInfo{
        padding: 17px 10px;
        .unit{
            font-size: 9px;
        }
        .price{
            font-size: 12px;
        }
        .count{
            font-size: 11px;
            color: #333;
            margin-right: 6px;
        }
        .textRight{
            text-align: right;
            margin-top: 10px;
        }
        .buyNum{
            font-size: 14px;
            color: #333;
        }
    }
    .phoneBox{
        padding: 14px 10px;
        display: flex;
        font-size: 12px;
        .phoneInput{
            flex: 1;
            padding: 0 10px;
        }
        .selfTel{
            color: #666;
        }
    }
    .payWay{
        padding: 12px 10px;
        display: flex;
        align-items: center;
        color: #3B3B3B;
        .wechat{
            width: 21px;
            height: 21px;
            margin-right: 10px;
        }
    }
}