.ucenter{
    position: relative;
    .bg1{
        width: 375px;
        height: 114px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .con{
        position: relative;
        padding: 10px 10px 0;
        z-index: 1;
    }
    .info{
        position: relative;
        padding-left: 58px;
        min-height: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .avatar{
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }
        .nickname{
            color: #333333;
            font-size: 15px;
            font-weight: 700;
        }
        .phone{
            margin-top: 2px;
            font-size: 12px;
        }
    }
    .panel{
        width: 355px;
        min-height: 120px;
        background: #ffffff;
        border-radius: 10px;
        margin: 15px 0 7.5px;
        .commissionBox{
            width: 355px;
            height: 47px;
            background: linear-gradient(-90deg,#ffe3e3 0%, #ffffff 99%);
            border-radius: 10px;
            padding: 0 19px;
        }
        .balance{
            font-size: 15px;
            font-weight: 700;
        }
        .cashout{
            width: 65px;
            height: 25px;
            background: #ffffff;
            border-radius: 12.5px;
            font-weight: 700;
            font-size: 12px;
            color: #fe3234;
        }
        .icon-right{
            font-size: 10px;
        }
        .detail_tit{
            font-size: 11px;
            color: #333;
            display: flex;
            align-items: center;
            padding: 7px 22px;
        }
        .flexBox{
            display: flex;
            justify-content: space-between;
            color: #333;
            padding-bottom: 11px;
            .li{
                flex: 1;
                text-align: center;
                max-width: 33.33%;
            }
            .num{
                font-weight: 700;
                font-size: 15px;
                line-height: 24px;
            }
            .label{
                font-size: 12px;
            }
        }
    }
    .apply{
        width: 355px;
        height: 75px;
    }
    .block{
        width: 355px;
        padding: 13px 10px;
        background: #ffffff;
        border-radius: 10px;
        margin-bottom: 10px;
        .h2{
            font-size: 15px;
            font-weight: 700;
            color: #000;
            margin-bottom: 20px;
        }
        .icon{
            width: 25px;
            height: 25px;
            margin-bottom: 6px;
        }
        .name{
            color: #000;
            font-size: 13px;
        }
        .fcenter{
            flex-direction: column;
        }
        .item{
            margin: 7px 0;
        }
    }
}